.treeview > .list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.treeview > .list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.treeview > .list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.treeview > .list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.treeview > .list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.treeview > .list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.treeview > .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 70px;
}

.treeview > .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 95px;
}

.treeview > .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 120px;
}

.vakata-context{z-index: 9999;}