 /*SITE SPECIFIC CSS*/

.journal-header .center-inner-row {
    padding-bottom: 10px;
    padding-top: 10px;
}
.featurePanel {
	background-image: url(//academic.oup.com/data/sitebuilderassetsoriginals/images/sysbio/sysbio_feature_panel.jpg);
	border: 1px solid #cfd5e4;
}
.navbar {
	background-color: #0080A7;
}
.journal-bg {
	background-color: #ffffff;
}
.journal-header .journal-logo {
	width: 360px;
}
.journal-header .society-logo {
	width: 90px;
}
.journal-footer.journal-bg {
	background-color: #0080A7;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles){
	background-color: #00A0D9;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__underbar.journal-bg{
	background-color: #ffffff;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__header h3{
	color: #ffffff;
}
.journal-header {
	border-top: 1px solid #CFD5E4;
}
.widget-dynamic__underbar.journal-bg {
	background-color: #0080A7;
}