/* Deprecated
   ---------
   the following have been moved to SG code and can be removed from pbCss after the specified MR
   -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------- */



.article__content .icon-Email {
   display:none
}

/* Article/chapter downloads widget */
DIV.article-downloads {
    margin-top:16px;
    font-size: 1.2em;
}

DIV.article-downloads-period {
    margin-top: 0px;
    font-size: 0.9rem;
}

/* Dryad logos */
.dryad-logo img{
    display: block;
    margin: auto;
}

.dryad-target p{
    text-align: center;
}

div.card-space {
    margin-top:20px;
}

DIV.topic-page IMG[alt="collection-image"] {
    padding:14px 0px;
}

DIV.collection-tabs .tab__nav a span {
    font-size:1.75rem;
}

DIV.collection-tabs DIV.topical-index H2 {
    display:none;
}

DIV[data-pb-dropzone="tableOfContentDropzone"] P {
    font-size: .875rem;
    line-height: 1.4;
}

.toc-item__footer .sfxLink img {
  display: block;
}
.toc-item__footer .toc-item__detail.separator li {
vertical-align: middle;
}
.table-of-content .sfxLink img {
   vertical-align: middle;
   padding-bottom: 4px;
}


/* ==============================
   Institution admin profile page 
   ============================== */

H1#c4head {
    padding-top: 15px;
}

H1#c4head + H3 {
   display:none;
}

.profileMain .managedInstitutions {
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

P#aboutInsights {
    text-align: center;
    padding: 0px 50px 0px 30px;
}

form#institutionUsageReportCounter5 A {
    color: #ba0c2f;
}
    
#accessEntitlementsDownloadInfo A {
    color: #ba0c2f;
}

/* ===========================================
   RSCL logo size on custom pages - LIT-269855
   =========================================== */
#rsclLogo {
   max-width:790px;
}