.irw-widget{height:20px;overflow:hidden;max-width:100% !important;}
.irw-widget.loading{background:url('../images/loading.gif') center center no-repeat;}
.irw-slider{list-style-type:none;}
.irw-slider li{list-style-type:none;display:inline-block;}
.irw-widget li img{width:auto;height:auto;max-width:100% !important;}
.irw-slider li img.pointer_cursor{cursor:pointer;}
.ie7 .irw-slider li{display:block;float:left;}
