 /*SITE SPECIFIC CSS*/

.featurePanel {
	background-image: url(//academic.oup.com/data/sitebuilderassetsoriginals/images/bioscience/bioscience_feature_panel.jpg);
}
.featurePanel .featurePanelInner {
	background: rgba(0, 0, 0, 0.6);
}
.featurePanel p {
	color: #f6f6f6 !important;
}
.featurePanel h3 {
	color: #f6f6f6 !important;
}
.featurePanel a {
	color: #f6f6f6 !important;
}
.featurePanel a:hover {
	color: #f6f6f6 !important;
}
.journal-bg {
	background-color: #000000;
}
.journal-header .journal-logo {
	width: 280px;
}
.journal-header .society-logo {
	width: 210px;
}
.journal-footer.journal-bg {
	background-color: #333333;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles){
	background-color: #000000;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__underbar.journal-bg{
	background-color: #ffffff;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__header h3{
	color: #ffffff;
}
img.journal-footer-affiliations-logo {
	width: 280px;
}

.society-links-logo img {
	width: 250px;	
}