 /*SITE SPECIFIC CSS*/

.featurePanel {
	background-image: url(//academic.oup.com/data/sitebuilderassetsoriginals/images/jee/jee_feature_panel.jpg);
}
.navbar {
	background-color: #156ea0;
}
.journal-bg {
	background-color: #1984C1;
}
.featurePanel .featurePanelInner {
	background: rgba(0, 0, 0, 0.7);
}
.featurePanel p {
	color: #f6f6f6 !important;
}
.featurePanel h3 {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	color: #f6f6f6 !important;
}
.featurePanel a {
	color: #f6f6f6 !important;
}
.featurePanel a:hover {
	color: #f6f6f6 !important;
}
.journal-header .journal-logo {
	width: 470px;
}
.journal-header .society-logo {
	width: 92px;
}
img.journal-footer-affiliations-logo {
	width: 350px;
}
.journal-footer.journal-bg {
	background-color: #156ea0;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles){
	background-color: #1984C1;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__underbar.journal-bg{
	background-color: #ffffff;
}
.pg_index .location-main-content>.widget-dynamic>.widget-dynamic-inner-wrap>.widget-dynamic[data-count]:nth-child(4):not(.row-related-titles) .widget-dynamic__header h3{
	color: #ffffff;
}
.article-body .ref .person-group:first-child, .article-body .ref .year {
	font-weight: bold;
}
.article-body .ref .source {
	font-style: normal;
}