#header {background-color: #ffffff;}
#footer {background-color: #ffffff;}
table.listing tr.fastTracked {background-color: #ffffff;}
a {color: #0066cc;}
a:link {color: #0066cc;}
a:active {color: #0066cc;}
a:visited {color: #0066cc;}
a:hover {color: #0066cc;}
input.defaultButton {color: #0066cc;}
body {background-color: #ffffff;}
input.defaultButton {background-color: #ffffff;}
body {color: #0066cc;}
input.defaultButton {color: #0066cc;}
