/*** identities_bar.jsp ***/

div#identity-bar {
    background-color: #EEEEEE;
    padding: .5em;
    height: 1em;
}

div#identity-bar a {
    color: black;
    text-decoration: none;
}

div#identity-bar a:hover {
    text-decoration: underline;
}

span#institution-banner-text {
    float: left;
}

span#individual-menu {
    float: right;
}

div#identity-bar a#indivLogin {
    text-decoration: underline;
}


/*** header.jsp ***/

div.headerContainer {
    height: 24px;
	text-align: center;
}

div#headerTopContainer {
	background-color: #e5efd1;
}

div#headerBottomContainer {
	border-top:1px solid #B8D9E7;
    border-bottom:1px solid #B8D9E7;
}

div.headerSubContainer {
    margin: 0 auto;
    text-align: left;
}

div#headerTopSubContainer {
	width: 550px;
}

div#headerBottomSubContainer {
	width: 425px;
}

ul#headerTopNavBar {
	background-color: #e5efd1;
}

ul#headerTopNavBar li {
    border-left: 1px solid white;
}

ul#headerTopNavBar a {
    color: #000099;
}

li#lastInList {
    border-right: 1px solid white;
}

ul#headerBottomNavBar li {
    border-left: 1px solid #B8D9E7;
}

ul#headerBottomNavBar a {
    color: #5c9639;
}

li#lastInSecondList {
    border-right: 1px solid #B8D9E7;
}

ul.headerNavBar li:hover {
    background-color: #B8D9E7;
}

ul.headerNavBar {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.headerNavBar li {
	float: left;
}

ul.headerNavBar a {
	padding: 0 0.87em;
	text-decoration: none;
    font-size: 10px;
	line-height: 2.4em;
}

input#searchQuery {
    text-align: center;
    font-size: 11px;
    font-family: 'Helvetica Neu', 'Helvetica', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
    color:#407ec1;
    padding: 1px;
    margin-top: 2px;
    border: 1px solid #999;
}

input#gosearch {
    vertical-align :middle;
    margin-top: 0;
}

div#quickSearchBox {
	float: right;
	padding-top: 2px;
	width: 155px;
}

div#breadcrumbs {
    margin: 1em 1em 0 1em 0;
}

span#allJournals {
     float: left;
}

span#advancedSearch {
    float: right;
}



/*** footer.jsp ***/

#footer {
    clear: both;
    border-top: 1px solid #B8D9E7;
}

div#footer p {
	font-size: 10px;
	margin: 4px 0;
	padding: 0;
	text-align: center;
	line-height: 2.0em;
	background: #fbfbfb;
}

div#footer a:link, div#footer a:active, div#footer a:visited {
	color: #5c9639;
}

div#footer a:hover {
	color: #000099;
}

div#footer span {
    color: ButtonShadow;
}