#articleFooter {
    padding-right: 3px;
    background-color:white;
}

#contentLayout {
    padding:0;
    background: transparent #CCCCCC repeat scroll 0 0;
}

div#content {
    background-color: #CCCCCC;
}

div#container {
    border-left: 1px solid white;
}

div#articleRhs {
    padding-left: 1em;
    background-color: white;
    width:100%;
}

#contentNav {
    margin-left: .5em;
}

#contentMain {
    min-height:900px;
    padding-right: 5px;
    margin: 0.6em 8px 0;
}

div#contentMain div.articleNav, div.searchNav {
    margin-top: .6em;
}

div.searchNav {
    float: left;
}
.searchNavText {
    font-size: .8em;
    font-weight:bold;
    margin-top: 4px;
    background-color: #ffff00;
}
.searchNavS {
    color:#666666;
    font-weight:normal;
}
.navSearchColon {
    color:#666666;
    font-size: 14px;
    font-weight: normal;
}

div#compTables {
    width: 161px;
}

.NLM_disp-formula {
    text-align: center;
}

.NLM_disp-formula .NLM_label {
    float: right;
    padding: 0 0.5em;
}

div#contentMainWrapper {
    float:left;
    width:74.99%;
}

div#contentSidebarWrapper {
    float:right;
    width:25%;
}

.citedByEntry p.articleCitationIndent1 { display: inline; padding:0; margin:0; text-indent:0 }
