body, .bodyLayout {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.leftRegion, .centerRegion, .rightRegion {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.logo {
    padding: 14px 0px;
    text-align: center;
}

.logo_bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.welcome_user_text {
    font-size: x-small;
    font-weight: bold;
    padding: 1em;
    border-bottom: 1px solid #444;
    color: #444;
}

.pub_search_box {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #444;
    color: #444;
}

.pub_search_link {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menuXsubMenuDivider {
    text-align: center;
}

#hide {
    display: none
}

.art_title, .arttitle, .searchResultTitle {
    font-weight: bold;
}

.art_author {
    color: gray;
}

.art_meta {
    color: gray;
}

.error {
    color: red;
}

.citedByEntry {
    margin-bottom: 0.5em;
}

.citedBySection {
    margin-bottom: 2em;
}

.bullet {
    vertical-align: top;
}

.tocHeading .subj-group {
    color: #6E9934;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, Palatino, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0pt 0pt 3px 15px;
}

.tocHeading .subj-group .subj-group {
    color: #58595B;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    margin: 0pt;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
}

#contentMain h2.tocHeading {
    border-bottom: none;
}

tr.resultItemNav {
}

a img {
    border-width: 0
}

td.savedSearch {
}

.currencySymbol {
    font-weight: bold;
}

#showMailPage label {
    font-weight: bold;
}

#showMailPage label.checkBox {
    font-weight: normal;
}

div.p {
    margin: 1em 0;
}

#CreditCardDialog .required {
    color: #f00;
}

#CreditCardDialog label {
    margin: 1em 0;
    text-align: left;
}

.formHeading {
    font-weight: bold;
}

div.federation {
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.logoImg {
    width: 165px;
    height: 108px;
    border: 0;
}

table.offersOption {
    width: 100%;
    padding: 0 2em;
}

.offersOption td {
    padding-bottom: 1em;
}

.offersOption li {
    list-style: none;
}

.offersOption tr.buttons {
    text-align: right;
}

.deliveryFormat li {
    list-style: none;
    display: inline;
}

.ecommOffers {
    font-weight: bold;
}

.addressLink {
    cursor: pointer;
    color: blue;
}

table.listgroup td {
    font-family: "Times New Roman", Times, Palatino, serif;
}

.alert {
    background-color: #FFFFCC;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.refnumber {
    margin-bottom: 1.5em;
}

#headerLogo .logo {
    vertical-align: middle;
    display: table-cell;
    height: 40px;
}

input#gosearch {
    background-image: url('/templates/jsp/_style2/_AP/_bioone/images/button_go.gif');
    height: 18px;
    width: 19px;
}

.qSearchLabel {
    text-transform: uppercase;
}

.moreCited {

    text-decoration: none;
    margin-left: 10px;
}

div.mostCitedArticles {
    margin-left: 10px;
}

.sightedHidden {
    display: none;
}

.searchPart {
    margin: 4px 0 15px 23px;
}

.BeforeFilter {
    margin-left: 10pt;
}

.topAccessIcon {
    margin-left: 10px;
}

.profileContent p.success {
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    width: 500px;
}

.success {
    background-color: rgb(255, 255, 0);
}

.profileContent .searchTerm0 p.success {
    margin-left: 20px;
}

.snippNewPage {
    margin-left: 32px;
    margin-right: 32px;
}

.snippNewPage p,.snippNewPage h1 {
    margin-left: 32px;
    margin-right: 32px;
}


.mobileDevicePairing,.confirmReg{
      clear: both;
      margin: 0 auto;
      max-width: 1280px;
      min-width: 955px;
      width: 95%;
}

p.note {
    margin: 0 2.5em 1em;
}

.marginBioone {
    margin: 0 2.5em 1em;
}

#sec2 ol h6 {
    margin: 0pt -14pt 3px;
}
.single_highlight_class {
    background-color: #ffff76;
}

.NLM_list-list_type- li{
    list-style: none;
}