/*** panel.jsp ***/

div.panelBottomLeft {
  float:left;
  background-image:url('/templates/jsp/_style2/_AP/images/btmLeftPanelCorner.gif');
  width:6px;
  height:6px;
  line-height:0px;
  position:relative;
  overflow:hidden;
}

div.panelBottomMiddle {
  float:left;
  height:5px;
  border-bottom:1px solid #5b5b5b;
  background-color:#ffffff;
  line-height:0px;
  position:relative;
  overflow:hidden;
}

div.panelBottomRight {
	float:left;
	background-image:url('/templates/jsp/_style2/_AP/images/btmRightPanelCorner.gif');
	width:6px;
	height:6px;
    overflow:hidden;
}

div.panelTopLeft {
	width:6px;
	height:20px;
	float:left;
    background-image:url('/templates/jsp/_style2/_AP/images/topLeftPanelCorner.gif');
	line-height:1px;
}

div.panelTopMiddle {
	float:left;
	height:20px;
    background-image:url('/templates/jsp/_style2/_AP/images/panelTitleBg.gif');
	background-repeat:repeat-x;
	line-height:1px;
}

div.panelTopMiddle h3 {
    line-height: 1;
    margin: 5px 0 0 8px;
    padding: 0;
    font-size: 1em;
    color: #003366;
    font-weight: bold;
}

div.panelTopRight {
	width:6px;
	height:20px;
	float:left;
	background-image:url('/templates/jsp/_style2/_AP/images/topRightPanelCorner.gif');
	line-height:1px;
}

div.panelBody {
    clear:left;
    border-left:1px solid #5b5b5b;
	border-right:1px solid #5b5b5b;
	background-color:#ffffff;
}


/*** panel sizing ***/

div.panel_210, div.panel_228, div.panel_100p, div.panel_476 {
    float:left;
	clear:left;
    margin-bottom: 0.5em;
}

div.panel_210 {
	width: 210px;
}

div.panel_228 {
	width: 228px;
}

div.panel_228_pad, div.panel_210_pad {
    width: 89%;
    padding: 0.52em;
}

div.panel_228_width, div.panel_210_width {
    width: 90%;
}

div.panel_100p {
	width: 100%;
}

div.panel_100p_pad {
    width: 96%;
    padding: 0.72em;
}

div.panel_100p_width, div.panel_476_width {
    width: 97%;
}

div.panel_476 {
	width: 476px;
}

div.panel_476_pad {
    padding: 0.6em;
    width: 96%;
}


/*** journals.jsp ***/

tr#covers td, tr#titles td, tr#journalLinks td {
    width: 130px;
}

tr#titles td, tr#journalLinks td {
    font-size: 9pt;
    text-align: center;
    vertical-align: top;
    padding-top: 1em;
}

tr#covers {
    text-align: center;
}


/*** issueNavigator.jsp ***/

span#nextIssue {
    float: right;
}

span#prevIssue {
    float: left;
}

#journalNavPanel {
    text-align: center;
}

#nextprev {
    margin: 0 .3em 0 .3em;
}

div#smallIssueCover {
    margin-top: 1em;
    font-size: 10px;
}


/*** siteTools.jsp ***/

div#toolsPanel {
    text-align: left;
}

ul.linkSet {
    line-height: 1.3em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-top: 2px;
    padding-left: 15px;
}


/*** mostRead.jsp ***/

#mostread {
    list-style-type: none;
}

#mostread li {
    padding-bottom: 1em;
}


/*** allIssues.jsp ***/

#issueHeading {
    font-weight: bold;
    margin: 1em 0 1em 0;
}

li.loiListHeading {
    background-repeat: no-repeat;
    background-position: 0 .1em;
    margin-top: 1em;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    color: #003366;
}

.collapsed {
    background-image: url(/templates/jsp/_style2/_AP/_bioone/images/button_plus_small.gif);
}

.expanded {
    background-image: url(/templates/jsp/_style2/_AP/_bioone/images/button_minus_small.gif);
}

ul.loiList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0em;

}

ul.loiList li {
    padding-left: 1.2em;
}

li.hidden {
    display: none;
}

div.loiTocUrl {
    float: left;
    width: 130px;
}


/*** articleTools.jsp ***/

ul#toolsList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 1em;
}

ul#toolsList li {
    background-repeat: no-repeat;
    background-position: 0 .1em;
    padding-left: 1.5em;
    margin-top: 0.5em;
    display: inline;
}

ul#toolsList li a {
    white-space: nowrap;
}

li#showAbs {
    background-image: url(/templates/jsp/images/icon_viewAbstract.gif);
}

li#addToFavs {
    background-image: url(/templates/jsp/images/icon_addToFavorite.gif);
}

li#emailArt {
    background-image: url(/templates/jsp/images/icon_email.gif);
}

li#downloadCit {
    background-image: url(/templates/jsp/images/icon_download.gif);
}

li#trackCit {
    background-image: url(/templates/jsp/images/icon_track.gif);
}

li#rights {
    background-image: url(/templates/jsp/images/icon_track.gif);
    border-right: none;
}

div#articleToolsPrev {
    float: left;
}

div#articleToolsNext {
    float: right;
}

a.articleToolsNav {
    font-weight: bold;
    text-decoration: none;
}

a.articleToolsNav:hover {
    text-decoration: underline;
}

div#articleToolsHeading {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

li.divider {
    padding-left: 0;
    margin-right: 0.5em;
    color: #CCCCCC;
}

hr#articleToolsHr {
    color: #A0ADA4;
    width: 95%;
    margin-top: 1em;
}

ul#articleToolsFormats {
   text-align: center;
   list-style-type: none;
   margin: 0;
}

ul#articleToolsFormats li {
   display: inline;
   padding: 0 4em 0 1em;
   font-weight: bold;
}


/*** FullSide.xsl ***/

div.relatedHeading {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

span.relatedDBname {
    line-height: 3px;
}

input#quickSearchSubmit {
    margin: 2em 5em 0 5em;
}

span.cbylink {
    padding-left: 1em;
}

/** For access icon **/
.accessIcon1 {
    border: none;
    float: right;
    margin-top:-30px;
}