/****************************
* Primary color
****************************/

/* Backgrounds image */
#page-header .primary {
  background-image: url(/skin/headerBackgroundImage/);
}

@media (min-width: 480px) {
  #page-header .primary-right-background {
    background-image: none;
  }
}

/* Backgrounds color */
#page-header .primary,
#back-to-top .icon,
ul.search-index li.selected a,
.pages .currentStep,
.btn-primary:hover,
.btn-primary:focus,
.sub-logo-banner.improvedLayout,
.about-text.improvedLayout,
.share-box{
    background-color: #E2001A;
}

/* Community Portal Banner */
.community-portal-banner {
  background-color: #000000;
}
.community-portal-banner a:link, .community-portal-banner a:visited {
  color: #ffffff;
}

  /* Colors */
.button-row > li > a:hover,
.button-row > li.selected a,
.content-profile-navigation nav li.selected i.icon,
.page-section-header-home-index ul.home-menu li a:hover .icon,
.page-section-header-home-index ul.home-menu li a:focus .icon,
.page-section-header-home-index div.secondary li a:hover .icon,
.page-section-header-home-index div.secondary li a:focus .icon,
.global-search .search-submit button:hover .icon,
.global-search .search-filter-toggle a:hover,
.global-search .search-filter-toggle a.enabled,
.global-search-wrapper .search-cp-link a:hover .icon,
.portal-search-results .search-result-top .search-tools > ul li.community-tool i.icon,
.content-icon-menu ul li a:hover .icon,
.content-icon-menu ul li a:focus .icon,
.dropdown-menu strong,
.dropdown-menu strong {
    color: #E2001A;
}

/* Borders */
ul.search-index li.selected a:hover,
.btn-primary,
#page-header .secondary nav.content-navigation li.selected a,
.content-profile-navigation nav li.selected a {
    border-color: #E2001A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

/****************************
* Primary color (light)
****************************/

.global-search.focus,
.search-cp-link a:focus
{
    box-shadow: 0 0 5px 0 rgba(255, 0, 39, 0.2);
}

.concept-badge-large:focus,
.concept-badge-small:focus{
  border-color: rgba(255, 0, 39, 0.5);

}

/****************************
* Link color
****************************/

/* Backgrounds */
.dropdown-container > ul .selected > a, .dropdown-container > ul .selected > a:hover, .dropdown-container > ul > .selected > a:focus,
.inline-trend-graph .bar {
    background-color: #477dcd;

}

/****************************
* Link color visited
****************************/

a:visited {
  color: #477dcd
}

/****************************
* Concept search
****************************/
.search-concept-result
{
  border: 1px solid #E2001A;
  background-color: rgba(255, 0, 39, 0.1);
}
/* Colors */
a,
.btn-primary, .search-concept-result a:visited, .portal_link, .author-link {
  color: #477dcd;
}
#page-footer{
  border-top: 2px solid #E2001A;
}

li.icon:hover{
  color: #E2001A!important;

}
ul.has-overflow-navigation.li.dropdown{
  color: #477dcd;
}


ul.has-overflow-navigation.li.dropdown{
  color: #477dcd;
}
.tooltipped.tooltipped-multiline .icon.icon-info-circled.activate{
  color: #477dcd;
}
/*
rendering_person_personsocialmediaorcidrendererportal - is here to support backwards compatibility
*/
.rendering_person_personsocialmediaorcidrendererportal, .rendering_person_personsocialmediarendererportal {
  .link:hover{
    color: #477dcd !important;
  }
}
.slick-next, .slick-next:before, .slick-prev, .slick-prev:before{
  color:#477dcd !important;
}
.has-overflow-navigation.improvedLayout li{
  a:hover{
    color: #E2001A!important;
  }
}
.page-section-header-home-index.improvedLayout, .improvedLayout-section .page-section.page-section-home.page-section-home-index.improvedLayout{
  background-image: url(/skin/headerBackgroundImage/);
  background-color: #E2001A;
}
ul.improvedLayout-menu li.selected a {
  border-bottom: solid 2px #E2001A;
}
ul.improvedLayout-menu li.selected a:hover {
 color:#E2001A;
}
.improvedLayout-colloboration-map .form-field-dropdown.dropdown{
  border: 2px solid #E2001A;
}