 /*SITE SPECIFIC CSS*/

.featurePanel {
	background-color: #e8e8e8;
}
.navbar {
	background-color: #333333;
}
.journal-bg {
	background-color: #FFFFFF;
}
.journal-header .journal-logo {
	width: 625px;
}
.journal-header .society-logo {
	width: 150px;
}
.journal-footer-menu a { 
	color: #2a2a2a; 
}
.journal-footer-colophon { 
	color: #2a2a2a; 
}
img.journal-footer-affiliations-logo {
	width: 180px;
}
.widget-dynamic__underbar.journal-bg {
	background-color: #2a2a2a;
}
.journal-footer {
	border-bottom: 1px solid #CFD5E4;
	-webkit-font-smoothing: auto;
}
.journal-footer, .journal-header {
	border-top: 1px solid #CFD5E4;
}

.society-links-logo img {
	width: 220px;
}